.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 612px;
    height: 612px;
}
.mole {
    background-image: url(mole.jpg);
    background-size: cover;
}